LAB4/GA.json
[{"id":"8cb81ec2.a346a","type":"tab","label":"LAB4 GA","disabled":false,"info":""},{"id":"f2f6815.96ae08","type":"inject","z":"8cb81ec2.a346a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":40,"wires":[["5f9c5c85.4c48c4"]]},{"id":"5f9c5c85.4c48c4","type":"oM2M-Application","z":"8cb81ec2.a346a","xSCL":"65ee47fa.e0ea48","xA":"4ae42ba4.183954","obixType":"Gateway Application","obixCategory":"Demo","obixLocation":"NCKU","obixAnnounce":true,"x":270,"y":40,"wires":[["f62ca586.5c8af8"]]},{"id":"f62ca586.5c8af8","type":"http request","z":"8cb81ec2.a346a","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":430,"y":40,"wires":[["bc3ea44d.01a358"]]},{"id":"bc3ea44d.01a358","type":"debug","z":"8cb81ec2.a346a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":600,"y":40,"wires":[]},{"id":"d06c316b.c3b3","type":"inject","z":"8cb81ec2.a346a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":100,"wires":[["ae417c53.91265"]]},{"id":"6785d3e2.22fd2c","type":"inject","z":"8cb81ec2.a346a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":160,"wires":[["ec40c135.f2eeb"]]},{"id":"743afb85.8f1484","type":"inject","z":"8cb81ec2.a346a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":220,"wires":[["b3b6f28c.1bab6"]]},{"id":"30071d2a.d6bad2","type":"inject","z":"8cb81ec2.a346a","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":120,"y":280,"wires":[["1a11f988.879b86"]]},{"id":"99377f6a.a6a8d","type":"http request","z":"8cb81ec2.a346a","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":490,"y":100,"wires":[["2bee4eea.ba21d2"]]},{"id":"2bee4eea.ba21d2","type":"debug","z":"8cb81ec2.a346a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":660,"y":100,"wires":[]},{"id":"8013a066.157d6","type":"http request","z":"8cb81ec2.a346a","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":450,"y":220,"wires":[["181c1b68.ab2445"]]},{"id":"181c1b68.ab2445","type":"debug","z":"8cb81ec2.a346a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":620,"y":220,"wires":[]},{"id":"80591c31.2d7d4","type":"http request","z":"8cb81ec2.a346a","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":530,"y":160,"wires":[["f4ca7e24.25f9f"]]},{"id":"f4ca7e24.25f9f","type":"debug","z":"8cb81ec2.a346a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":700,"y":160,"wires":[]},{"id":"b57fd7e0.7592a8","type":"http request","z":"8cb81ec2.a346a","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":280,"wires":[["6cbe945a.a97c3c"]]},{"id":"6cbe945a.a97c3c","type":"debug","z":"8cb81ec2.a346a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":800,"y":280,"wires":[]},{"id":"1a11f988.879b86","type":"function","z":"8cb81ec2.a346a","name":"MyDATA","func":"var data = {\n    type:'gps',\n    unit:'float',\n    latitude: '1',\n    longitude: '2'\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":280,"wires":[["34687ed8.085cf2"]]},{"id":"ec40c135.f2eeb","type":"oM2M-Descriptor-ContentInstance","z":"8cb81ec2.a346a","xSCL":"65ee47fa.e0ea48","xA":"4ae42ba4.183954","obixType":"","obixLocation":"","x":320,"y":160,"wires":[["80591c31.2d7d4"]]},{"id":"b3b6f28c.1bab6","type":"oM2M-Data-Container","z":"8cb81ec2.a346a","xSCL":"65ee47fa.e0ea48","xA":"4ae42ba4.183954","maxNrOfInstances":"10","obixAnnounce":true,"x":280,"y":220,"wires":[["8013a066.157d6"]]},{"id":"34687ed8.085cf2","type":"oM2M-Data-ContentInstance","z":"8cb81ec2.a346a","xSCL":"65ee47fa.e0ea48","xA":"4ae42ba4.183954","obixCategory":"","x":440,"y":280,"wires":[["b57fd7e0.7592a8"]]},{"id":"ae417c53.91265","type":"oM2M-Descriptor-Container","z":"8cb81ec2.a346a","xSCL":"65ee47fa.e0ea48","xA":"4ae42ba4.183954","x":300,"y":100,"wires":[["99377f6a.a6a8d"]]},{"id":"6b1ca817.5da4a8","type":"http request","z":"8cb81ec2.a346a","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":650,"y":340,"wires":[["97b3cb26.72d6b8"]]},{"id":"d5f8493a.8524c8","type":"function","z":"8cb81ec2.a346a","name":"Input Data","func":"var data = {\n    type:'gps',\n    unit:'float',\n    latitude: msg.payload.latitude,\n    longitude: msg.payload.longitude\n};\nmsg.payload = JSON.stringify(data);\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":340,"wires":[["7eaf0381.18cccc"]]},{"id":"7eaf0381.18cccc","type":"oM2M-Data-ContentInstance","z":"8cb81ec2.a346a","xSCL":"65ee47fa.e0ea48","xA":"4ae42ba4.183954","obixCategory":"","x":460,"y":340,"wires":[["6b1ca817.5da4a8"]]},{"id":"7a198fa3.2307c","type":"http in","z":"8cb81ec2.a346a","name":"Post Sensor Data","url":"/locationData","method":"post","upload":false,"swaggerDoc":"","x":100,"y":340,"wires":[["d5f8493a.8524c8","1f6d83e6.6ff59c","993461bc.55465"]]},{"id":"97b3cb26.72d6b8","type":"debug","z":"8cb81ec2.a346a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":810,"y":340,"wires":[]},{"id":"1f6d83e6.6ff59c","type":"http response","z":"8cb81ec2.a346a","name":"","statusCode":"","headers":{},"x":290,"y":400,"wires":[]},{"id":"993461bc.55465","type":"debug","z":"8cb81ec2.a346a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":280,"y":440,"wires":[]},{"id":"65ee47fa.e0ea48","type":"xSCL","z":"","sclId":"gscl","host":"localhost","port":"8181","baseUrl":"/om2m/"},{"id":"4ae42ba4.183954","type":"xA","z":"","appId":"LOCATION_GATEWAY_APPLICATION","contactUrl":"localhost:1880"}]