LAB4/NA.json
[{"id":"1de0ddb2.799542","type":"tab","label":"LAB4 NA","disabled":false,"info":""},{"id":"ffce3afe.955518","type":"inject","z":"1de0ddb2.799542","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":60,"wires":[["f530d8d4.280a98"]]},{"id":"f530d8d4.280a98","type":"oM2M-Application","z":"1de0ddb2.799542","xSCL":"4f2f7a4f.975f14","xA":"e03db915.e4c318","obixType":"Network Application","obixCategory":"demo ","obixLocation":"Internet Cloud","obixAnnounce":false,"x":250,"y":60,"wires":[["2c0f6a4e.b70ad6"]]},{"id":"2c0f6a4e.b70ad6","type":"http request","z":"1de0ddb2.799542","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":410,"y":60,"wires":[["9493209b.c56a"]]},{"id":"9493209b.c56a","type":"debug","z":"1de0ddb2.799542","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":580,"y":60,"wires":[]},{"id":"84c2ee79.392e9","type":"inject","z":"1de0ddb2.799542","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":100,"wires":[["ed8867fb.c5b9b8"]]},{"id":"ed8867fb.c5b9b8","type":"oM2M-Subscription","z":"1de0ddb2.799542","xSCL":"4f2f7a4f.975f14","xA":"e03db915.e4c318","contactPath":"/Location_notification","filterType":"","filterCriteria":"content","x":250,"y":100,"wires":[["d47a2f7a.8caa9"]]},{"id":"d47a2f7a.8caa9","type":"http request","z":"1de0ddb2.799542","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LOCATION_GATEWAY_APPLICATION/containers/DATA/contentInstances/subscriptions","tls":"","persist":false,"proxy":"","authType":"basic","x":410,"y":100,"wires":[["ef15b1ad.e0b61"]]},{"id":"ef15b1ad.e0b61","type":"debug","z":"1de0ddb2.799542","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":580,"y":100,"wires":[]},{"id":"3a9e9404.a7901c","type":"http in","z":"1de0ddb2.799542","name":"Listen to HTTP Post notifications","url":"/Location_notification","method":"post","upload":false,"swaggerDoc":"","x":170,"y":140,"wires":[["dead7616.6dc568","a247d0b5.f4916"]]},{"id":"dead7616.6dc568","type":"xml","z":"1de0ddb2.799542","name":"","property":"payload","attr":"","chr":"","x":370,"y":140,"wires":[["f4869e21.75959"]]},{"id":"f4869e21.75959","type":"function","z":"1de0ddb2.799542","name":"Extract Data from XML","func":"var notification = msg.payload['om2m:notify']; \nvar representation = notification['om2m:representation']; \nvar text = representation[0]._; \nvar dataObj = new Buffer(text, 'base64').toString('ascii'); \nmsg.payload = dataObj; \nreturn msg;","outputs":1,"noerr":0,"x":540,"y":140,"wires":[["4cfe51c6.1a121"]]},{"id":"c0a5e4d.373c418","type":"debug","z":"1de0ddb2.799542","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":180,"wires":[]},{"id":"a247d0b5.f4916","type":"http response","z":"1de0ddb2.799542","name":"","statusCode":"","headers":{},"x":370,"y":180,"wires":[]},{"id":"4cfe51c6.1a121","type":"file","z":"1de0ddb2.799542","name":"","filename":"D:\\DATA\\Location_notification.xml","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":800,"y":140,"wires":[["c0a5e4d.373c418"]]},{"id":"5c4b1766.897798","type":"http in","z":"1de0ddb2.799542","name":"Read XML File via HTTP Get","url":"/readLocationData","method":"get","upload":false,"swaggerDoc":"","x":160,"y":220,"wires":[["2933e25.4a4e51e"]]},{"id":"2933e25.4a4e51e","type":"file in","z":"1de0ddb2.799542","name":"","filename":"D:\\DATA\\Location_notification.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":440,"y":220,"wires":[["c2117b39.d0e8a8"]]},{"id":"c2117b39.d0e8a8","type":"xml","z":"1de0ddb2.799542","name":"","property":"payload","attr":"","chr":"","x":650,"y":220,"wires":[["8609743e.0d1998","846a646.ed2cb98"]]},{"id":"a2d2dcc4.ff207","type":"http response","z":"1de0ddb2.799542","name":"","statusCode":"","headers":{},"x":1010,"y":220,"wires":[]},{"id":"8609743e.0d1998","type":"function","z":"1de0ddb2.799542","name":"Extract Location Value","func":"var latitudeName = msg.payload.obj.str[3].$.name;\nvar latitudeVal = msg.payload.obj.str[3].$.val;\nvar longitudeName = msg.payload.obj.str[4].$.name;\nvar longitudeVal = msg.payload.obj.str[4].$.val;\n\nmsg.payload = {\n    latitudeName : latitudeVal,\n    longitudeName : longitudeVal\n}\nreturn msg;","outputs":1,"noerr":0,"x":840,"y":220,"wires":[["a2d2dcc4.ff207","7fa0b804.cab538"]]},{"id":"846a646.ed2cb98","type":"debug","z":"1de0ddb2.799542","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":750,"y":280,"wires":[]},{"id":"7fa0b804.cab538","type":"debug","z":"1de0ddb2.799542","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":950,"y":280,"wires":[]},{"id":"4f2f7a4f.975f14","type":"xSCL","z":"","sclId":"nscl","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"e03db915.e4c318","type":"xA","z":"","appId":"LOCATION_NETWORK_APPLICATION","contactUrl":"localhost:1880"}]