LAB5/flows.json
[{"id":"de2c0bfa.c21818","type":"tab","label":"LAB5","disabled":false,"info":""},{"id":"40a1ebc6.ce8764","type":"http in","z":"de2c0bfa.c21818","name":"","url":"/LAB5","method":"post","upload":false,"swaggerDoc":"","x":90,"y":120,"wires":[["e241dc5b.b1439","8b7307b0.978b28"]]},{"id":"e241dc5b.b1439","type":"http response","z":"de2c0bfa.c21818","name":"","statusCode":"","headers":{},"x":250,"y":200,"wires":[]},{"id":"8b7307b0.978b28","type":"switch","z":"de2c0bfa.c21818","name":"","property":"payload.name","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"str"},{"t":"eq","v":"2","vt":"str"},{"t":"eq","v":"3","vt":"str"},{"t":"eq","v":"4","vt":"str"},{"t":"eq","v":"5","vt":"str"},{"t":"eq","v":"6","vt":"str"}],"checkall":"true","repair":false,"outputs":6,"x":250,"y":120,"wires":[["cbf05e95.fc744"],["5ed7c93.4138c38"],["83d5b853.957468"],["588f39be.16ed48"],["f0b72d9c.9a654"],["e9f14efe.8d693"]]},{"id":"cbf05e95.fc744","type":"function","z":"de2c0bfa.c21818","name":"Empty Payload","func":"msg = {};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":20,"wires":[["d7148fa9.f962f"]]},{"id":"d7148fa9.f962f","type":"http request","z":"de2c0bfa.c21818","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_0/lamps/false","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":20,"wires":[["60651f8c.9a911"]]},{"id":"9627e6c3.d531e8","type":"http request","z":"de2c0bfa.c21818","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_0/lamps/true","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":60,"wires":[["60651f8c.9a911"]]},{"id":"97767707.21a268","type":"http request","z":"de2c0bfa.c21818","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_1/lamps/false","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":100,"wires":[["60651f8c.9a911"]]},{"id":"6fbdb0f6.1df82","type":"http request","z":"de2c0bfa.c21818","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_1/lamps/true","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":140,"wires":[["60651f8c.9a911"]]},{"id":"dc68f849.6a1e88","type":"http request","z":"de2c0bfa.c21818","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/groups/OFF_ALL/membersContent","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":180,"wires":[["60651f8c.9a911"]]},{"id":"386a0f18.45d2d","type":"http request","z":"de2c0bfa.c21818","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/groups/ON_ALL/membersContent","tls":"","persist":false,"proxy":"","authType":"basic","x":630,"y":220,"wires":[["60651f8c.9a911"]]},{"id":"60651f8c.9a911","type":"debug","z":"de2c0bfa.c21818","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":840,"y":120,"wires":[]},{"id":"5ed7c93.4138c38","type":"function","z":"de2c0bfa.c21818","name":"Empty Payload","func":"msg = {};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":60,"wires":[["9627e6c3.d531e8"]]},{"id":"83d5b853.957468","type":"function","z":"de2c0bfa.c21818","name":"Empty Payload","func":"msg = {};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":100,"wires":[["97767707.21a268"]]},{"id":"588f39be.16ed48","type":"function","z":"de2c0bfa.c21818","name":"Empty Payload","func":"msg = {};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":140,"wires":[["6fbdb0f6.1df82"]]},{"id":"f0b72d9c.9a654","type":"function","z":"de2c0bfa.c21818","name":"Empty Payload","func":"msg = {};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":180,"wires":[["dc68f849.6a1e88"]]},{"id":"e9f14efe.8d693","type":"function","z":"de2c0bfa.c21818","name":"Empty Payload","func":"msg = {};\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":220,"wires":[["386a0f18.45d2d"]]},{"id":"8d19db9.c6c6928","type":"inject","z":"de2c0bfa.c21818","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":100,"y":280,"wires":[["e6fe4ef3.277a2"]]},{"id":"e6fe4ef3.277a2","type":"function","z":"de2c0bfa.c21818","name":"Subscribe to","func":"msg.payload = \"<om2m:subscription xmlns:om2m=\\\"http://uri.etsi.org/m2m\\\"><om2m:filterCriteria><ifMatch>content</ifMatch></om2m:filterCriteria><om2m:contact>http://127.0.0.1:1880/LAB5_sub</om2m:contact></om2m:subscription>\";\nreturn msg;","outputs":1,"noerr":0,"x":250,"y":280,"wires":[["5c08d91f.520638","aa9156db.801df8"]]},{"id":"5c08d91f.520638","type":"http request","z":"de2c0bfa.c21818","name":"Lamp 0","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_0/containers/DATA/contentInstances/subscriptions","tls":"","persist":false,"proxy":"","authType":"basic","x":400,"y":260,"wires":[["88b53160.ec3e8"]]},{"id":"aa9156db.801df8","type":"http request","z":"de2c0bfa.c21818","name":"Lamp 1","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/LAMP_1/containers/DATA/contentInstances/subscriptions","tls":"","persist":false,"proxy":"","authType":"basic","x":400,"y":300,"wires":[["88b53160.ec3e8"]]},{"id":"88b53160.ec3e8","type":"debug","z":"de2c0bfa.c21818","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":560,"y":280,"wires":[]},{"id":"52c86d13.d84124","type":"http in","z":"de2c0bfa.c21818","name":"","url":"/LAB5_sub","method":"post","upload":false,"swaggerDoc":"","x":100,"y":340,"wires":[["914c3827.d28878","897e6366.801da"]]},{"id":"914c3827.d28878","type":"http response","z":"de2c0bfa.c21818","name":"","statusCode":"","headers":{},"x":250,"y":340,"wires":[]},{"id":"def30e8a.3e8fe","type":"http in","z":"de2c0bfa.c21818","name":"","url":"/LAB5_LampStatus","method":"get","upload":false,"swaggerDoc":"","x":130,"y":460,"wires":[["b54894aa.c83788","d3182897.65ca98"]]},{"id":"b54894aa.c83788","type":"file in","z":"de2c0bfa.c21818","name":"Read file","filename":"D:\\DATA\\Lamp\\0.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":320,"y":440,"wires":[["e0d5428b.9c2d7"]]},{"id":"30b4c604.90139a","type":"http response","z":"de2c0bfa.c21818","name":"","statusCode":"","headers":{},"x":1010,"y":460,"wires":[]},{"id":"897e6366.801da","type":"xml","z":"de2c0bfa.c21818","name":"","property":"payload","attr":"","chr":"","x":250,"y":380,"wires":[["deca1963.73dd88"]]},{"id":"deca1963.73dd88","type":"function","z":"de2c0bfa.c21818","name":"Extract Data from XML","func":"var notification = msg.payload['om2m:notify']; \nvar representation = notification['om2m:representation']; \nvar text = representation[0]._; \nvar dataObj = new Buffer(text, 'base64').toString('ascii'); \nmsg.payload = dataObj; \nreturn msg;","outputs":1,"noerr":0,"x":420,"y":380,"wires":[["92984b52.8842f8"]]},{"id":"ca8fe1be.ec5e3","type":"file","z":"de2c0bfa.c21818","name":"","filename":"D:\\DATA\\Lamp\\0.xml","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":800,"y":360,"wires":[["6d3e9249.0ee0dc"]]},{"id":"afa6ea61.f9c8f8","type":"join","z":"de2c0bfa.c21818","name":"","mode":"custom","build":"array","property":"payload","propertyType":"msg","key":"payload.Name","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":730,"y":460,"wires":[["d1286299.08e86"]]},{"id":"d3182897.65ca98","type":"file in","z":"de2c0bfa.c21818","name":"Read file","filename":"D:\\DATA\\Lamp\\1.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":320,"y":480,"wires":[["2a3a6d3.99aa792"]]},{"id":"92984b52.8842f8","type":"switch","z":"de2c0bfa.c21818","name":"LAMP Switch","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"<str val=\"LAMP_0\" name=\"appId\"/>","vt":"str"},{"t":"cont","v":"<str val=\"LAMP_1\" name=\"appId\"/>","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":610,"y":380,"wires":[["ca8fe1be.ec5e3"],["d604907b.da4a"]]},{"id":"d604907b.da4a","type":"file","z":"de2c0bfa.c21818","name":"","filename":"D:\\DATA\\Lamp\\1.xml","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":800,"y":400,"wires":[["6d3e9249.0ee0dc"]]},{"id":"6d3e9249.0ee0dc","type":"debug","z":"de2c0bfa.c21818","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":990,"y":380,"wires":[]},{"id":"e0d5428b.9c2d7","type":"xml","z":"de2c0bfa.c21818","name":"","property":"payload","attr":"","chr":"","x":450,"y":440,"wires":[["4b974dc5.b81d04"]]},{"id":"2a3a6d3.99aa792","type":"xml","z":"de2c0bfa.c21818","name":"","property":"payload","attr":"","chr":"","x":450,"y":480,"wires":[["728ee023.8a987"]]},{"id":"4b974dc5.b81d04","type":"function","z":"de2c0bfa.c21818","name":"Extract Value","func":"var LAMPName = msg.payload.obj.str[2].$.val;\nvar LAMPVal = msg.payload.obj.bool[0].$.val;\n\nmsg.payload = {\n    Name : LAMPName,\n    Val : LAMPVal\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":440,"wires":[["afa6ea61.f9c8f8"]]},{"id":"728ee023.8a987","type":"function","z":"de2c0bfa.c21818","name":"Extract Value","func":"var LAMPName = msg.payload.obj.str[2].$.val;\nvar LAMPVal = msg.payload.obj.bool[0].$.val;\n\nmsg.payload = {\n    Name : LAMPName,\n    Val : LAMPVal\n}\nreturn msg;","outputs":1,"noerr":0,"x":590,"y":480,"wires":[["afa6ea61.f9c8f8"]]},{"id":"d1286299.08e86","type":"function","z":"de2c0bfa.c21818","name":"Format List","func":"var L0_Val;\nvar L1_Val;\n\nif (msg.payload[0].Name == \"LAMP_0\")\n{\n    L0_Val = msg.payload[0].Val;\n    L1_Val = msg.payload[1].Val;\n}\nelse\n{\n    L1_Val = msg.payload[0].Val;\n    L0_Val = msg.payload[1].Val;\n}\n\nmsg.payload = [L0_Val, L1_Val];\nreturn msg;","outputs":1,"noerr":0,"x":870,"y":460,"wires":[["30b4c604.90139a"]]}]