LAB2/flows.json
[{"id":"4cd47445.6bebcc","type":"tab","label":"Lab2","disabled":false,"info":""},{"id":"4c4ffa5e.2f3594","type":"http in","z":"4cd47445.6bebcc","name":"","url":"/locations","method":"post","upload":false,"swaggerDoc":"","x":140,"y":80,"wires":[["9e469670.b85308","9c970920.2959a8"]]},{"id":"8f1d02bf.dcbd5","type":"function","z":"4cd47445.6bebcc","name":"","func":"msg.payload.latitude = 23;\nmsg.payload.longitude = 120;\nreturn msg;","outputs":1,"noerr":0,"x":330,"y":180,"wires":[["d88245bc.2624a8","9c970920.2959a8"]]},{"id":"9e469670.b85308","type":"http response","z":"4cd47445.6bebcc","name":"","statusCode":"","headers":{},"x":510,"y":80,"wires":[]},{"id":"ce8aa93d.8642d8","type":"http in","z":"4cd47445.6bebcc","name":"","url":"/locations/100","method":"get","upload":false,"swaggerDoc":"","x":130,"y":180,"wires":[["9c970920.2959a8","8f1d02bf.dcbd5"]]},{"id":"d88245bc.2624a8","type":"http response","z":"4cd47445.6bebcc","name":"","statusCode":"","headers":{},"x":510,"y":180,"wires":[]},{"id":"9c970920.2959a8","type":"debug","z":"4cd47445.6bebcc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":510,"y":260,"wires":[]}]