LAB3/NA.json
[{"id":"ec388bda.6b5cc8","type":"tab","label":"LAB3 Nscl","disabled":false,"info":""},{"id":"b27dcb4a.2845b8","type":"inject","z":"ec388bda.6b5cc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":40,"wires":[["48375cef.2e6944"]]},{"id":"48375cef.2e6944","type":"oM2M-Application","z":"ec388bda.6b5cc8","xSCL":"4f2f7a4f.975f14","xA":"ba085c9d.3152f","obixType":"Network Application","obixCategory":"demo ","obixLocation":"Internet Cloud","obixAnnounce":false,"x":230,"y":40,"wires":[["61b9e1c4.46e1f"]]},{"id":"61b9e1c4.46e1f","type":"http request","z":"ec388bda.6b5cc8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":390,"y":40,"wires":[["224e8874.8c88f8"]]},{"id":"224e8874.8c88f8","type":"debug","z":"ec388bda.6b5cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":560,"y":40,"wires":[]},{"id":"97f381f9.ce39c","type":"inject","z":"ec388bda.6b5cc8","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":80,"y":80,"wires":[["53e57087.7cbc7"]]},{"id":"53e57087.7cbc7","type":"oM2M-Subscription","z":"ec388bda.6b5cc8","xSCL":"4f2f7a4f.975f14","xA":"ba085c9d.3152f","contactPath":"/notification","filterType":"","filterCriteria":"content","x":230,"y":80,"wires":[["4acb4b66.7e8064"]]},{"id":"4acb4b66.7e8064","type":"http request","z":"ec388bda.6b5cc8","name":"","method":"POST","ret":"txt","paytoqs":false,"url":"http://localhost:8181/om2m/gscl/applications/MY_SENSOR/containers/DATA/contentInstances/subscriptions","tls":"","persist":false,"proxy":"","authType":"basic","x":390,"y":80,"wires":[["b88092fc.3e7f8"]]},{"id":"b88092fc.3e7f8","type":"debug","z":"ec388bda.6b5cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"statusCode","targetType":"msg","x":560,"y":80,"wires":[]},{"id":"eebfbe20.f23bd","type":"http in","z":"ec388bda.6b5cc8","name":"Listen to HTTP Post notifications","url":"/notification","method":"post","upload":false,"swaggerDoc":"","x":150,"y":120,"wires":[["6837e5d2.48f90c","e49ad830.03d0c8"]]},{"id":"6837e5d2.48f90c","type":"xml","z":"ec388bda.6b5cc8","name":"","property":"payload","attr":"","chr":"","x":350,"y":120,"wires":[["6e832323.bdbdcc"]]},{"id":"6e832323.bdbdcc","type":"function","z":"ec388bda.6b5cc8","name":"Extract Data from XML","func":"var notification = msg.payload['om2m:notify']; \nvar representation = notification['om2m:representation']; \nvar text = representation[0]._; \nvar dataObj = new Buffer(text, 'base64').toString('ascii'); \nmsg.payload = dataObj; \nreturn msg;","outputs":1,"noerr":0,"x":520,"y":120,"wires":[["fb1fde8a.f5be1","1b47667c.87ce9a"]]},{"id":"fb1fde8a.f5be1","type":"debug","z":"ec388bda.6b5cc8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":710,"y":120,"wires":[]},{"id":"e49ad830.03d0c8","type":"http response","z":"ec388bda.6b5cc8","name":"","statusCode":"","headers":{},"x":350,"y":160,"wires":[]},{"id":"1b47667c.87ce9a","type":"file","z":"ec388bda.6b5cc8","name":"","filename":"D:\\DATA\\notification.xml","appendNewline":true,"createDir":true,"overwriteFile":"true","encoding":"none","x":750,"y":160,"wires":[[]]},{"id":"e9564d41.cd0ad","type":"http in","z":"ec388bda.6b5cc8","name":"Read XML File via HTTP Get","url":"/readSensorData","method":"get","upload":false,"swaggerDoc":"","x":140,"y":200,"wires":[["43ff05ed.25276c"]]},{"id":"43ff05ed.25276c","type":"file in","z":"ec388bda.6b5cc8","name":"","filename":"D:\\DATA\\notification.xml","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":390,"y":200,"wires":[["b3eb08b0.560a78"]]},{"id":"b3eb08b0.560a78","type":"xml","z":"ec388bda.6b5cc8","name":"","property":"payload","attr":"","chr":"","x":570,"y":200,"wires":[["51e3551a.ac716c"]]},{"id":"51e3551a.ac716c","type":"http response","z":"ec388bda.6b5cc8","name":"","statusCode":"","headers":{},"x":690,"y":200,"wires":[]},{"id":"4f2f7a4f.975f14","type":"xSCL","z":"","sclId":"nscl","host":"localhost","port":"8080","baseUrl":"/om2m/"},{"id":"ba085c9d.3152f","type":"xA","z":"","appId":"My_NETWORK_APPLICATION","contactUrl":"localhost:1880"}]